body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 94%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  background-color: #21b9c4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1b9db5;
}

.result {
  margin-top: 15px;
  margin-left: 15px;
  font-weight: bold;
}

.bmi-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.bmi-table th, .bmi-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.bmi-table th {
  background-color: #f5f5f5;
}
